body{
	font-family: 'Roboto Slab', Helvetica;
	background-color: #74D066;
	border-top: 6px solid #43a234;
	padding: 0px;
	margin: 0px;
}

$avenirs: "Montserrat", Helvetica;

#container{
	position: relative;
	margin: 0 auto;
	width: 1100px;
	top: 36px;
	display: none;
}

#loader{
	margin-top: 60px;
	font-size: 20px;
	color: #333;
	text-align: center;
}

#titlearea{

	padding-left: 40px;

	#userImage{
		background-color: #dcdcdc;
		border-radius: 120px;
		border: 7px solid #fff;
		margin: 8px 0px 49px 0px;
		overflow: hidden;
		padding: 0px;
		width: 200px;
		height: 200px;
		float: left;
		box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.17);

		& img{
			width: 200px;
			height: 200px;
		}
	}

	#centralHeader{
		width: 700px;
		height: 160px;
		position: relative;
		float: left;
		margin-top: 40px;
		margin-left: 60px;
		padding-left: 60px;
		border-left: 1px solid #58af4b;

		#userName{
			font-family: "Avenir Next", $avenirs;
			font-weight: bold;
			font-size: 60px;
			color: #fff;
			min-height: 26px;
			text-shadow: 0 1px 0 darken(#d9f2ae,18%),
			0px 2px 0 darken(#d9f2ae,22%),
			0px 3px 0 darken(#d9f2ae,22%),
			0px 4px 0 darken(#d9f2ae,22%),
			0px 6px 0 #55b347,
			0px 8px 0 #55b347,
			0px 9px 0 #55b347;
			margin-bottom: 0px;
		}

		#mainTitle{
			text-align: left;
			font-family: $avenirs;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 4px;
			font-size: 26px;
			color: #2b7b1f;
			margin-bottom: 9px;
		}	

		#userTime{
			font-size: 15px;
			color: #488e3d;
		}
	}

	a#tryButton{
		display: block;
		position: absolute;
		right: 10px;
		top: 50px;
		text-align: center;
		line-height: 49px;
		background-color: #FFAA7E;
		font-weight: bold;
		cursor: pointer;
		border-radius: 34px;
		font-family: $avenirs;
		font-size: 20px;
		color: #FFFFFF;
		width: 225px;
		height: 49px;
		text-transform: uppercase;
		box-shadow: 0px 5px 0px 0px #DE6B6B, 
		0px 10px 0px 0px #55B347; 
		text-decoration: none;

		&:hover, &:active, &:visited{
			color: #fff;
		}

	}
	
}


.stage{
	margin-bottom: 10px;
	text-align: center;
	clear: both;

	&>.title{
		height: 45px;
		line-height: 45px;
		font-size: 16px;
		color: #296120;
		margin: 5px;
		background-color: #65c057;
		font-family: $avenirs;
		font-weight: bold;
		letter-spacing: 15px;
		text-transform: uppercase;
		display: block;
	}

	&>.match, & .group{
		
		display: inline-block;
		margin: 0px;
		padding: 20px 20px;
		position: relative;
		
		& .description{
			font-family: $avenirs;
			font-size: 12px;
			color: #296120;
			font-weight: bold;
			margin-bottom: 20px;
			text-transform: uppercase;
		}

		& .title{
			font-family: $avenirs;
			font-size: 12px;
			color: #296120;
			font-weight: bold;
			margin-bottom: 20px;
			text-transform: uppercase;
		}

		$buttonWidth: 180;
		$buttonHeight: 30;

		& .team{
			width: $buttonWidth;
			height: $buttonHeight+10;
			margin-bottom: 10px;
			cursor: pointer;
			font-size: 14px;
			font-weight: 300;
			overflow: hidden;
			border-radius: 10px;
			-webkit-user-select: none;
			box-shadow: 0px 6px 0px 0px #55b347;
			transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
			position: relative;
			text-align: left;
			color: #747474;
			transition: box-shadow 0.7 scubic-bezier(0.175, 0.885, 0.32, 1.275);

			&.selected, &.runner-up{
				box-shadow: 0px 2px 0px 0px #55b347;
			}

			&.empty{
				box-shadow: 0px 0px 0px 0px #55b347;
			}

			&:after{ // the button extrude
				position: absolute;
				content: ' ';
				background-color: #d9f2ae;
				height: 100px;
				width: 210px;
				top: 20px;
				z-index: 2;
				transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
			}

			&.selected:after{
				top: 25px;
				background-color: darken(#25591d, 20%);
			}

			&.runner-up:after{
				top: 25px;
				background-color: darken(#3e9d30, 20%);
			}

			&.empty:after{
				top: 90px;
				transition: 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
			}

			&:before{ // the element background (shows up when empty)
				position: absolute;
				content: ' ';
				width: $buttonWidth;
				height: $buttonHeight;
				top: 10px;
				border-radius: 9px;
				background-color: #58a24c;
				box-shadow: inset 0px 3px 0px 0px #317a28;
				transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
			}

			& .inner{
				color: #747474;
				position: absolute;
				width: $buttonWidth;
				height: $buttonHeight;
				bottom: 6px;
				background-color: #fff;
				border-radius: 9px;
				line-height: 30px;
				text-align: center;
				z-index: 3;
				transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
			}

			&.selected .inner{
				bottom: 2px;
				color: #f4f4f4;
				text-shadow: rgba(0,0,0,0.3) -1px -1px 0px;
				background-color: #25591d;
			}

			&.runner-up .inner{
				bottom: 2px;
				color: #f4f4f4;
				text-shadow: rgba(0,0,0,0.3) -1px -1px 0px;
				background-color: #3e9d30;
			}

			&.empty .inner{
				bottom: -40px;
				background-color: #aaa;
				transition: 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
			}

		}
	}

	// 1st and 2nd marks

	& .group {
		.selected .inner:after, .runner-up .inner:after {
			content: '1st';
			position: absolute;
			text-align: right;
			right: 8px;
			width: 100px;
			height: 35px;
			line-height: 30px;
			z-index: 5;
			font-family: $avenirs;
			font-size: 14px;
			text-shadow: none;
		}

		.selected .inner:after {
			content: '1st';				
			color: #399E27;
		}

		.runner-up .inner:after {
			content: '2nd';
			color: #82CD76;
		}		
	}

}

#utils{
	padding: 20px;
	margin: 20px;
	text-align: center;
}

#shareGuide{
	font-size: 20px;
}

#clearAll,#submit, #shareGuide{
	display: none;
}

.utilButton{
	display: inline-block;
	cursor: pointer;
	font-family: $avenirs;
	font-weight: bold;
	font-size: 17px;
	color: #FFC47A;
	text-shadow: rgba(0,0,0,0.5) 1px 1px 0px;
	line-height: 48px;
	margin: 10px;
	padding: 0px 20px;
	border-radius: 25px;
	text-transform: uppercase;
	height: 48px;
	background-color: #fff;
}

#clearAll{
	color: #FFC47A;
}

input#urlresult{
	width: 750px;
	text-align: center;
	margin-top: 20px;
	font-size: 17px;
	padding: 10px;
	font-family: $avenirs;

	&:focus{
		outline: none;
	}
}


#footer{
	background-color: #184012;
	text-align: center;
	font-size: 12px;
	margin-top: 60px;
	padding-top: 14px;
	height: 200px;
	color: #fff;
}

a, a:visited, a:active,  a:hover{
	color: #ddd;
}

div::selection {
	background-color: #74D066;
	color: #333;
}

// Loader animation 

.spinner {
  width: 60px;
  height: 60px;
  background-color: #333;

  margin: 100px auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}