body {
  font-family: 'Open Sans'; }

#container {
  position: relative;
  margin: 0 auto;
  width: 1100px;
  top: 50px; }

h1 {
  text-align: center; }

.stage {
  background-color: #eee;
  margin-bottom: 10px;
  padding: 20px 0px;
  text-align: center; }
  .stage > .title {
    font-size: 25px; }
  .stage > .match, .stage .group {
    display: inline-block;
    margin: 20px; }
    .stage > .match .description, .stage .group .description {
      font-size: 14px; }
    .stage > .match .title, .stage .group .title {
      font-weight: bold;
      margin-bottom: 10px; }
    .stage > .match .team, .stage .group .team {
      width: 190px;
      height: 20px;
      background-color: #868686;
      margin: 4px;
      padding: 8px;
      color: #fff;
      text-align: left;
      cursor: pointer;
      transition: 0.2s;
      font-size: 16px;
      overflow: hidden; }
      .stage > .match .team.selected, .stage .group .team.selected {
        background-color: #359a40; }
      .stage > .match .team.runner-up, .stage .group .team.runner-up {
        background-color: #5c8a5f; }
      .stage > .match .team.empty, .stage .group .team.empty {
        background-color: #d1d1d1;
        color: #d1d1d1; }

#footer {
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 30px; }
