body{
	font-family: 'Open Sans';
}

#container{
	position: relative;
	margin: 0 auto;
	width: 1100px;
	top: 50px;
}

h1{
	text-align: center;
}

.stage{
	background-color: #eee;
	margin-bottom: 10px;
	padding: 20px 0px;
	text-align: center;
	&>.title{
		font-size: 25px;
	}

	&>.match, & .group{
		
		display: inline-block;
		margin: 20px;
		
		& .description{
			font-size: 14px;
		}

		& .title{
			font-weight: bold;
			margin-bottom: 10px;
		}

		& .team{
			width: 190px;
			height: 45px;
			margin-bottom: 4px;
			cursor: pointer;
			font-size: 16px;
			overflow: hidden;
			border-radius: 13px;
			-webkit-user-select: none;
			box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.1);
			transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
			position: relative;
			text-align: left;

			&.selected, &.runner-up{
				box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1);
			}

			&.empty{
				box-shadow: none;
			}

			&:after{
				position: absolute;
				content: ' ';
				background-color: #bbbbbb;
				height: 100px;
				width: 190px;
				top: 20px;
				z-index: 2;
				  transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
			}

			&.selected:after{
				top: 25px;
			}

			&.empty:after{
				top: 60px;
			}

			&:before{
				position: absolute;
				content: ' ';
				width: 190px;
				height: 35px;
				top: 10px;
				border-radius: 12px;
				background-color: #fff;
				box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.2);
			}

			& .inner{
				color: #333;
				position: absolute;
				width: 190px;
				height: 35px;
				bottom: 6px;
				background-color: #ccc;
				border-radius: 12px;
				line-height: 35px;
				text-align: center;
				z-index: 3;
				transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
			}

			&.selected .inner{
				bottom: 2px;
				color: #fff;
				background-color: #6EBF6C;
			}

			&.runner-up .inner{
				bottom: 2px;
				color: #fff;
				background-color: #5e975b;
			}

			&.empty .inner{
				bottom: -40px;
			}
		}
	}
}

#footer{
	text-align: center;
	font-size: 12px;
	margin-top: 20px;
	margin-bottom: 30px;
}