body{
	font-family: 'Roboto Slab', Helvetica;
	background-color: #f1f1f1;
}

$titleGreen: #5CA850;

$avenirs: "Avenir Next", "Montserrat", Helvetica;

#container{
	position: relative;
	margin: 0 auto;
	width: 1100px;
	top: 50px;
	display: none;
}

h1{
	text-align: center;
	font-family: $avenirs;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.4em;
	font-size: 23px;
	color: $titleGreen;
	margin-bottom: 50px;
}

#restoreData{
	text-align: center;
	display: none;
	margin: 20px 0px;
	font-size: 20px;

	& img{
		border-radius: 140px;
		border: 4px solid rgba(0,0,0,0.4);
		margin: 20px 0px;
	}
}

.stage{
	margin-bottom: 10px;
	text-align: center;

	&>.title{
		font-size: 36px;
		color: #494949;
		font-family: $avenirs;
		font-weight: bold;
		letter-spacing: 21px;
		margin: 30px auto;
		text-transform: uppercase;

	    display: table;
		white-space: nowrap;
		width: 100%;

		&:before, &:after {
			border-top: 8px solid $titleGreen;
			content: ' ';
			display: table-cell;
			position: relative;
			top: 0.5em;
			width: 30%;
		}

		&:before { right: 3%; }
		&:after { left: 3%; }
	}

	&>.match, & .group{
		
		display: inline-block;
		margin: 5px;
		// border-radius: 22px;
		background-color: rgba(215,215,215,0.31);
		padding: 25px;
		
		& .description{
			font-size: 14px;
			color: #828282;
			font-weight: bold;
			margin-bottom: 15px;
		}

		& .title{
			font-size: 15px;
			color: #828282;
			font-weight: bold;
			margin-bottom: 20px;
			text-transform: uppercase;
		}

		& .team{
			width: 210px;
			height: 45px;
			margin-bottom: 15px;
			cursor: pointer;
			font-size: 16px;
			font-weight: 300;
			overflow: hidden;
			border-radius: 13px;
			-webkit-user-select: none;
			box-shadow: 0px 5px 0px 0px rgba(193,193,193,0.4);
			transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
			position: relative;
			text-align: left;
			color: #747474;

			&.selected, &.runner-up{
				box-shadow: 0px 2px 0px 0px rgba(193,193,193,0.4);
			}

			&.empty{
				box-shadow: none;
			}

			&:after{
				position: absolute;
				content: ' ';
				background-color: #C0C0C0;
				height: 100px;
				width: 210px;
				top: 20px;
				z-index: 2;
				transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
			}

			&.selected:after{
				top: 25px;
				background-color: darken(#74D066, 10%);
			}

			&.runner-up:after{
				top: 25px;
				background-color: darken(#36702D, 10%);
			}

			&.empty:after{
				top: 60px;
			}

			&:before{
				position: absolute;
				content: ' ';
				width: 210px;
				height: 35px;
				top: 10px;
				border-radius: 12px;
				background-color: #676767;
				box-shadow: inset 0px 4px 0px 0px rgba(0,0,0,0.2);
				transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
			}

			& .inner{
				color: #747474;
				position: absolute;
				width: 210px;
				height: 35px;
				bottom: 6px;
				background-color: #fff;
				border-radius: 12px;
				line-height: 35px;
				text-align: center;
				z-index: 3;
				transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
			}

			&.selected .inner{
				bottom: 2px;
				color: #fff;
				background-color: #74D066;
			}

			&.runner-up .inner{
				bottom: 2px;
				color: #fff;
				background-color: #36702D;
			}

			&.empty .inner{
				bottom: -40px;
				transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
			}
		}
	}
}

#utils{
	background-color: #fff;
	padding: 20px;
	margin: 20px;
	text-align: center;
}

button{
 	box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0.3);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor: pointer;
	color:#777777;
	font-size:15px;
	font-family: $avenirs;
	padding:6px 24px;
	text-decoration:none;

	&:hover {
		background-color:#dfdfdf;
	}

	&:active {
		position:relative;
		top:1px;
	}

	&#facebook-login{
		color:#eee;
		background-color: #425f9f;
	}

	&:focus{
		outline: none;
	}

}

#shareGuide{
	font-size: 20px;
}

#bottomBanner{
	font-size: 30px;
	text-align: center;
	margin: 30 0;
}

#clearAll,#submit, #shareGuide, #bottomBanner{
	display: none;
}


input#urlresult{
	width: 750px;
	text-align: center;
	margin-top: 20px;
	font-size: 17px;
	padding: 10px;
	font-family: $avenirs;

	&:focus{
		outline: none;
	}
}


#footer{
	font-family: $avenirs;
	text-align: center;
	font-size: 12px;
	margin-top: 20px;
	margin-bottom: 30px;
}

a, a:visited, a:active,  a:hover{
	color: #444;
}