body {
  font-family: 'Open Sans'; }

#container {
  position: relative;
  margin: 0 auto;
  width: 1100px;
  top: 50px; }

h1 {
  text-align: center; }

.stage {
  background-color: #eee;
  margin-bottom: 10px;
  padding: 20px 0px;
  text-align: center; }
  .stage > .title {
    font-size: 25px; }
  .stage > .match, .stage .group {
    display: inline-block;
    margin: 20px; }
    .stage > .match .description, .stage .group .description {
      font-size: 14px; }
    .stage > .match .title, .stage .group .title {
      font-weight: bold;
      margin-bottom: 10px; }
    .stage > .match .team, .stage .group .team {
      width: 190px;
      height: 28px;
      background-color: #868686;
      margin: 4px;
      line-height: 28px;
      color: #fff;
      text-align: center;
      cursor: pointer;
      transition: 0.2s;
      font-size: 16px;
      overflow: hidden;
      border-radius: 10px;
      border-bottom: 6px solid rgba(0, 0, 0, 0.2); }
      .stage > .match .team.selected, .stage > .match .team.runner-up, .stage .group .team.selected, .stage .group .team.runner-up {
        background-color: #359a40;
        height: 28px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
        .stage > .match .team.selected.runner-up, .stage > .match .team.runner-up.runner-up, .stage .group .team.selected.runner-up, .stage .group .team.runner-up.runner-up {
          background-color: #5c8a5f; }
      .stage > .match .team.empty, .stage .group .team.empty {
        background-color: #d1d1d1;
        color: #d1d1d1;
        border-top: 6px solid rgba(0, 0, 0, 0.2);
        border-bottom: 0px solid rgba(0, 0, 0, 0.2); }

#footer {
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 30px; }
