body {
  font-family: 'Roboto Slab', Helvetica;
  background-color: #f1f1f1;
  border-top: 10px solid #D8D8D8;
  padding: 0px;
  margin: 0px; }

#container {
  position: relative;
  margin: 0 auto;
  width: 1100px;
  top: 50px;
  display: none; }

#titlearea {
  padding-left: 40px; }
  #titlearea #userImage {
    background-color: #dcdcdc;
    border-radius: 120px;
    border: 4px solid #dcdcdc;
    margin: 20px 0px;
    overflow: hidden;
    padding: 0px;
    width: 200px;
    height: 200px;
    float: left; }
  #titlearea #centralHeader {
    width: 500px;
    height: 140px;
    position: relative;
    float: left;
    margin-top: 40px;
    margin-left: 60px;
    padding-left: 60px;
    border-left: 1px solid #dcdcdc; }
    #titlearea #centralHeader #userName {
      font-family: "Avenir Next", "Montserrat", Helvetica;
      font-weight: bold;
      font-size: 26px;
      color: #494949;
      min-height: 26px; }
    #titlearea #centralHeader #mainTitle {
      text-align: left;
      font-family: "Avenir Next", "Montserrat", Helvetica;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 4px;
      font-size: 26px;
      color: #74d066; }
    #titlearea #centralHeader #userTime {
      font-size: 14px;
      color: #B6B6B6; }
  #titlearea #tryButton {
    position: absolute;
    right: 10px;
    top: 50px;
    text-align: center;
    width: 200px;
    height: 50px;
    line-height: 50px;
    background-color: #74d066; }

.stage {
  margin-bottom: 10px;
  text-align: center; }
  .stage > .title {
    font-size: 26px;
    color: #575757;
    font-family: "Avenir Next", "Montserrat", Helvetica;
    font-weight: bold;
    letter-spacing: 15px;
    margin: 30px auto;
    text-transform: uppercase;
    display: table;
    white-space: nowrap;
    width: 100%; }
    .stage > .title:before, .stage > .title:after {
      border-top: 1px solid #dcdcdc;
      content: ' ';
      display: table-cell;
      position: relative;
      top: 0.5em;
      width: 30%; }
    .stage > .title:before {
      right: 3%; }
    .stage > .title:after {
      left: 3%; }
  .stage > .match, .stage .group {
    display: inline-block;
    margin: 20px 5px;
    padding: 0px 25px;
    position: relative; }
    .stage > .match:after, .stage .group:after {
      background-color: #dcdcdc;
      content: '';
      width: 1;
      height: 100%;
      position: absolute;
      right: -7px;
      top: 0px; }
    .stage > .match.norightbar:after, .stage .group.norightbar:after {
      display: none; }
    .stage > .match .description, .stage .group .description {
      font-family: "Avenir Next", "Montserrat", Helvetica;
      font-size: 14px;
      color: #BEBEBE;
      font-weight: bold;
      margin-bottom: 20px;
      text-transform: uppercase; }
    .stage > .match .title, .stage .group .title {
      font-family: "Avenir Next", "Montserrat", Helvetica;
      font-size: 16px;
      color: #BEBEBE;
      font-weight: bold;
      margin-bottom: 20px;
      text-transform: uppercase; }
    .stage > .match .team, .stage .group .team {
      width: 210px;
      height: 45px;
      margin-bottom: 15px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 300;
      overflow: hidden;
      border-radius: 13px;
      -webkit-user-select: none;
      box-shadow: 0px 5px 0px 0px rgba(193, 193, 193, 0.4);
      transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      position: relative;
      text-align: left;
      color: #747474; }
      .stage > .match .team.selected, .stage > .match .team.runner-up, .stage .group .team.selected, .stage .group .team.runner-up {
        box-shadow: 0px 2px 0px 0px rgba(193, 193, 193, 0.4); }
      .stage > .match .team.empty, .stage .group .team.empty {
        box-shadow: none; }
      .stage > .match .team:after, .stage .group .team:after {
        position: absolute;
        content: ' ';
        background-color: #C0C0C0;
        height: 100px;
        width: 210px;
        top: 20px;
        z-index: 2;
        transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
      .stage > .match .team.selected:after, .stage .group .team.selected:after {
        top: 25px;
        background-color: #51c43f; }
      .stage > .match .team.runner-up:after, .stage .group .team.runner-up:after {
        top: 25px;
        background-color: #244c1e; }
      .stage > .match .team.empty:after, .stage .group .team.empty:after {
        top: 60px; }
      .stage > .match .team:before, .stage .group .team:before {
        position: absolute;
        content: ' ';
        width: 210px;
        height: 35px;
        top: 10px;
        border-radius: 12px;
        background-color: #A9A9A9;
        box-shadow: inset 0px 4px 0px 0px rgba(0, 0, 0, 0.2);
        transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
      .stage > .match .team .inner, .stage .group .team .inner {
        color: #747474;
        position: absolute;
        width: 210px;
        height: 35px;
        bottom: 6px;
        background-color: #fff;
        border-radius: 12px;
        line-height: 35px;
        text-align: center;
        z-index: 3;
        transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
      .stage > .match .team.selected .inner, .stage .group .team.selected .inner {
        bottom: 2px;
        color: #fff;
        background-color: #74D066; }
      .stage > .match .team.runner-up .inner, .stage .group .team.runner-up .inner {
        bottom: 2px;
        color: #fff;
        background-color: #36702D; }
      .stage > .match .team.empty .inner, .stage .group .team.empty .inner {
        bottom: -40px;
        transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); }

#utils {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  text-align: center; }

button {
  box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.3);
  background-color: #ededed;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #777777;
  font-size: 15px;
  font-family: "Avenir Next", "Montserrat", Helvetica;
  padding: 6px 24px;
  text-decoration: none; }
  button:hover {
    background-color: #dfdfdf; }
  button:active {
    position: relative;
    top: 1px; }
  button#facebook-login {
    color: #eee;
    background-color: #425f9f; }
  button:focus {
    outline: none; }

#shareGuide {
  font-size: 20px; }

#clearAll, #submit, #shareGuide {
  display: none; }

input#urlresult {
  width: 750px;
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
  padding: 10px;
  font-family: "Avenir Next", "Montserrat", Helvetica; }
  input#urlresult:focus {
    outline: none; }

#footer {
  background-color: #D8D8D8;
  text-align: center;
  font-size: 12px;
  margin-top: 60px;
  padding-top: 14px;
  height: 200px;
  color: #909090; }

a, a:visited, a:active, a:hover {
  color: #444; }

div::selection {
  background-color: #74D066;
  color: #333; }
