body {
  font-family: 'Open Sans'; }

#container {
  position: relative;
  margin: 0 auto;
  width: 1100px;
  top: 50px; }

h1 {
  text-align: center; }

.stage {
  background-color: #eee;
  margin-bottom: 10px;
  padding: 20px 0px;
  text-align: center; }
  .stage > .title {
    text-align: center;
    font-size: 25px; }
  .stage > .match, .stage .group {
    width: 180px;
    display: inline-block;
    margin: 20px; }
    .stage > .match .description, .stage .group .description {
      font-size: 12px; }
    .stage > .match .team, .stage .group .team {
      width: 190px;
      height: 20px;
      background-color: #868686;
      margin: 4px;
      padding: 8px;
      color: #fff;
      text-align: left;
      cursor: pointer; }
      .stage > .match .team.selected, .stage .group .team.selected {
        background-color: #a75658; }
      .stage > .match .team.runner-up, .stage .group .team.runner-up {
        background-color: #969344; }
    .stage > .match .title, .stage .group .title {
      font-weight: bold;
      margin-bottom: 4px;
      text-align: center; }

#footer {
  text-align: center;
  font-size: 12px;
  margin-bottom: 30px; }
