body {
  font-family: 'Roboto Slab', Helvetica;
  background-color: #66d074;
  border-top: 6px solid #36a241;
  padding: 0px;
  margin: 0px; }

#container {
  position: relative;
  margin: 0 auto;
  width: 1100px;
  top: 15px;
  display: none;
  z-index: 5; }

#social {
  position: absolute;
  top: 0px;
  right: 160px;
  height: 30px;
  background-color: #fffef6;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 14px;
  padding-left: 10px;
  text-align: center;
  z-index: 10;
  box-shadow: 0px 3px 0px 0px #57c065; }
  #social iframe:first-child {
    position: relative;
    top: 1px; }

#loader {
  margin-top: 60px;
  font-size: 20px;
  color: #333;
  text-align: center; }

#titlearea {
  padding-left: 40px; }
  #titlearea #userImage {
    background-color: #dcdcdc;
    border-radius: 120px;
    border: 7px solid #fff;
    margin: 8px 0px 49px 20px;
    overflow: hidden;
    padding: 0px;
    width: 200px;
    height: 200px;
    float: left;
    box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.17);
    z-index: 100; }
    #titlearea #userImage img {
      width: 200px;
      height: 200px; }
    #titlearea #userImage.empty {
      background-color: #44609d;
      font-family: "Montserrat", Helvetica;
      text-transform: uppercase;
      cursor: pointer;
      color: #eee;
      font-size: 14px; }
      #titlearea #userImage.empty:after {
        display: block;
        position: relative;
        top: -120px;
        margin: 0 auto;
        width: 120px;
        text-align: center;
        content: 'Log in with Facebook and share'; }
  #titlearea #centralHeader {
    width: 700px;
    height: 160px;
    position: relative;
    float: left;
    margin-top: 40px;
    margin-left: 60px;
    padding-left: 60px;
    border-left: 1px solid #58af4b; }
    #titlearea #centralHeader #userName {
      font-family: "Avenir Next", "Montserrat", Helvetica;
      font-weight: bold;
      font-size: 60px;
      color: #fffef6;
      min-height: 26px;
      text-shadow: 0 1px 0 #b4e55f, 0px 2px 0 #ace24d, 0px 3px 0 #ace24d, 0px 4px 0 #ace24d, 0px 6px 0 #48b957, 0px 8px 0 #48b957, 0px 9px 0 #48b957;
      margin-bottom: 0px; }
    #titlearea #centralHeader #mainTitle {
      text-align: left;
      font-family: "Montserrat", Helvetica;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 4px;
      font-size: 26px;
      color: #2b7b1f;
      margin-bottom: 6px; }
    #titlearea #centralHeader #userTime {
      font-size: 15px;
      color: #488e3d; }
  #titlearea a#tryButton {
    display: block;
    position: absolute;
    right: 530px;
    top: 206px;
    text-align: center;
    line-height: 37px;
    background-color: #FFAA7E;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    font-family: "Montserrat", Helvetica;
    padding: 0px 5px;
    font-size: 14px;
    color: #FFFFFF;
    width: 166px;
    height: 37px;
    text-transform: uppercase;
    box-shadow: 0px 3px 0px 0px #DE6B6B,  0px 6px 0px 0px #55B347;
    text-decoration: none; }
    #titlearea a#tryButton:hover, #titlearea a#tryButton:active, #titlearea a#tryButton:visited {
      color: #fff; }
  #titlearea #tutorial {
    font-size: 12px;
    color: #488e3d;
    width: 500px;
    margin-top: 10px; }
    #titlearea #tutorial a {
      color: #488e3d; }

.stage {
  margin-bottom: 10px;
  text-align: center;
  clear: both; }
  .stage > .title {
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    color: #296120;
    margin: 5px 55px;
    background-color: #57c065;
    font-family: "Montserrat", Helvetica;
    font-weight: bold;
    letter-spacing: 15px;
    text-transform: uppercase;
    display: block; }
  .stage > .match, .stage .group {
    display: inline-block;
    margin: 0px;
    padding: 20px 20px;
    position: relative; }
    .stage > .match .description, .stage .group .description {
      font-family: "Montserrat", Helvetica;
      font-size: 12px;
      color: #296120;
      font-weight: bold;
      margin-bottom: 20px;
      text-transform: uppercase; }
    .stage > .match .title, .stage .group .title {
      font-family: "Montserrat", Helvetica;
      font-size: 12px;
      color: #296120;
      font-weight: bold;
      margin-bottom: 20px;
      text-transform: uppercase; }
    .stage > .match .team, .stage .group .team {
      width: 180;
      height: 40;
      margin: 0 auto;
      margin-bottom: 10px;
      cursor: pointer;
      font-size: 14px;
      font-weight: 300;
      overflow: hidden;
      border-radius: 10px;
      -webkit-user-select: none;
      box-shadow: 0px 6px 0px 0px #48b957;
      transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      position: relative;
      text-align: left;
      color: #747474;
      transition: box-shadow 0.7 scubic-bezier(0.175, 0.885, 0.32, 1.275); }
      .stage > .match .team.selected, .stage > .match .team.runner-up, .stage .group .team.selected, .stage .group .team.runner-up {
        box-shadow: 0px 2px 0px 0px #55b347; }
      .stage > .match .team.empty, .stage .group .team.empty {
        box-shadow: 0px 0px 0px 0px #55b347; }
      .stage > .match .team:after, .stage .group .team:after {
        position: absolute;
        content: ' ';
        background-color: #d2f2ae;
        height: 100px;
        width: 210px;
        top: 20px;
        z-index: 2;
        transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1); }
      .stage > .match .team.selected:after, .stage .group .team.selected:after {
        top: 25px;
        background-color: #050c04; }
      .stage > .match .team.runner-up:after, .stage .group .team.runner-up:after {
        top: 25px;
        background-color: #1f4f18; }
      .stage > .match .team.empty:after, .stage .group .team.empty:after {
        top: 90px;
        transition: 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045); }
      .stage > .match .team:before, .stage .group .team:before {
        position: absolute;
        content: ' ';
        width: 180;
        height: 30;
        top: 10px;
        border-radius: 9px;
        background-color: #44a951;
        box-shadow: inset 0px 3px 0px 0px #2e963c;
        transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
      .stage > .match .team .inner, .stage .group .team .inner {
        color: #747474;
        position: absolute;
        width: 180;
        height: 30;
        bottom: 6px;
        background-color: #fffef6;
        border-radius: 9px;
        line-height: 30px;
        text-align: center;
        z-index: 3;
        transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
      .stage > .match .team.selected .inner, .stage .group .team.selected .inner {
        bottom: 2px;
        color: #f4f4f4;
        background-color: #2c7634; }
      .stage > .match .team.runner-up .inner, .stage .group .team.runner-up .inner {
        bottom: 2px;
        color: #f4f4f4;
        background-color: #40a44d; }
      .stage > .match .team.empty .inner, .stage .group .team.empty .inner {
        bottom: -40px;
        background-color: #aaa;
        transition: 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045); }
  .stage .group {
    padding: 20px 30px; }
    .stage .group .selected .inner:after, .stage .group .runner-up .inner:after {
      content: '1st';
      position: absolute;
      text-align: right;
      right: 8px;
      width: 100px;
      height: 35px;
      line-height: 30px;
      z-index: 5;
      font-family: "Montserrat", Helvetica;
      font-size: 12px;
      text-shadow: none; }
    .stage .group .selected .inner:after {
      content: '1st';
      color: #399E27; }
    .stage .group .runner-up .inner:after {
      content: '2nd';
      color: #82CD76; }

#utils {
  margin: 20px;
  text-align: center; }

#shareGuide {
  font-size: 17px;
  color: #3eb246;
  font-weight: 300; }

#clearAll, #submit, #shareGuide {
  display: none; }

.utilButton {
  display: inline-block;
  cursor: pointer;
  font-family: "Montserrat", Helvetica;
  font-size: 12px;
  letter-spacing: 0.4px;
  font-weight: 400;
  color: #fff;
  line-height: 36px;
  margin: 10px;
  padding: 0px 20px;
  border-radius: 15px;
  height: 36px;
  background-color: #333; }
  .utilButton#clearAll {
    background-color: #2c6723; }
  .utilButton#facebook-login {
    background-color: #44609d; }
  .utilButton#submit {
    background-color: #fff;
    color: #333; }

input#urlresult {
  width: 750px;
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
  padding: 10px;
  font-family: "Montserrat", Helvetica;
  background-color: #122d0e;
  border: none;
  color: #fff; }
  input#urlresult:focus {
    outline: none; }

#footer {
  background-color: #184012;
  text-align: center;
  font-size: 12px;
  margin-top: 60px;
  padding-top: 14px;
  height: 200px;
  color: #35652d; }

a, a:visited, a:active, a:hover {
  color: #408633; }

div::selection {
  background-color: #40a44d;
  color: #333; }

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center; }

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #FFF;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0); }

  40% {
    -webkit-transform: scale(1); } }
@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }

  40% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
